<h1>{{user.name}}</h1>
<hr>
<p><b>User Name: </b> {{user.username}} </p>
<p><b>Email: </b> {{user.email}} </p>
<p><b>Phone: </b> {{user.phone}} </p>
<p><b>City: </b> {{user.address.city}} </p>

<a href="/">Back</a>